<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>


        <div id="app">
            <input v-model="username">
            <input v-model="password">
            <button v-on:click="processLogin">Say cheese</button>
            <div v-if="!loading">
                <div v-if="auth">
                    <strong> You have been authorized</strong><br>
                    <div id="optionsMenu" style="float: left;">
                        <strong> Selet one of the following options.</strong>
                        <div>
                            <button v-on:click="select('createAccount')">Create a new account</button>
                        </div>
                        <div>
                            <button v-on:click="select('makeTransaction')">Make a transaction</button>
                        </div>
                        <div>
                            <button v-on:click="select('editUser')">Edit your user</button>
                        </div>
                        <div>
                            <button v-on:click="select('deleteAccount')">Delete an existing account</button>
                        </div>
                    </div>
                    <div v-if="option">
                        <form style="float: right;">
                            <div v-if="option=='createAccount'">
                                <select id='accountTypeSelect'>
                                    <option>Checking</option>
                                    <option>Saving</option>
                                </select>
                                <div><button v-on:click="createAccount">Create</button></div>
                            </div>
                            <div v-if="option=='makeTransaction'">
                                //form for making a transaction
                            </div>
                            <div v-if="option=='editUser'">
                                //form for editing a user
                            </div>
                            <div v-if="option=='deleteAccount'">
                                //form for deleting an account
                            </div>
                        </form>
                    </div>
                </div>
                <div v-if="!auth">
                    You have not been authorized, Please check your username and password.
                </div>
                <div v-if=success.status>
                    {{success.text}}
                </div>
            </div>
        </div>
        <script src="request.js"></script>
        <script src="generalVue.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
        </script>
    </body>

</html>
